
{% extends "blog/base.html" %}

{% block content %}
{% csrf_token %}
<div class="row align-items-center justify-content-center no-gutters min-vh-100">
  <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
    
    <!-- Heading -->
    <h1 class="mb-0 font-weight-bold text-center">
      Password reset
    </h1>

    <!-- Text -->
    <p class="mb-6 text-center text-muted">
      We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.
    </p>

    <!-- Form -->
    

    <!-- Text -->
    <p class="mb-0 font-size-sm text-center text-muted">
      Remember your password? <a href="{% url 'login' %}">Log in</a>.
    </p>

  </div>
</div>
{% endblock %}
