





{% extends "blog/base.html" %}
{% block title %}
    Create User - {{ block.super }}
{% endblock %}
{% block content %}
<section class="section-border border-primary">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters min-vh-100">
      <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
        
        <!-- Heading -->
        <h1 class="mb-0 font-weight-bold text-center">
          Sign Up
        </h1>

        <!-- Text -->
        <p class="mb-6 text-center text-muted">
          Simplify your workflow in minutes.
        </p>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <!-- Form -->
        <form class="mb-6"method="post">
          {% csrf_token %}
         
            {{ form.as_p }}
            <button class="btn btn-block btn-primary" type="submit" value="Register">
                Sign Up
              </button>
           
                
        
  </form>
  
 
        </form>

        <!-- Text -->
        <p class="mb-0 font-size-sm text-center text-muted">
          Don't have an account yet <a href="{% url 'login' %}">Sign In</a>.
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
   <style>
#id_username,#id_password1,#id_email,#id_password2{display: block;
width: 100%;
height: calc(1.6em + 1.625rem + 2px);
padding: .8125rem 1.25rem;
font-size: 1.0625rem;
font-weight: 400;
line-height: 1.6;
color: #161c2d;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #f1f4f8;
border-radius: .375rem;
box-shadow: none;
-webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

   </style>
<script>
 document.getElementById("id_username").placeholder= "Create Username";
 document.getElementById("id_email").placeholder= "Enter Email";
 document.getElementById("id_password1").placeholder= "Create Password";
 document.getElementById("id_password2").placeholder= "Enter Again";


</script>
{% endblock %}