

{% load static %}
<!doctype html>
<html lang="en">
  
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MXKXK2B');</script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166910480-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166910480-1');
</script>

  <!-- End Google Tag Manager -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link href='https://hsezoology.blogspot.com/favicon.ico' rel='icon' type='image/x-icon'/> -->
    <link href='bmnidhin.herokuapp.com{{ request.path }}' rel='canonical'/>
    <meta content='bmnidhin.herokuapp.com{{ request.path }}' property='og:url'/>
    <meta content='{{ post.title | default:"Designs" }} - Nidhin BM' property='og:title'/>
    <meta content='{{ post.text | default:"I am Nidhin. I am a B-Tech Electronics and Communication student From TKM College of Engineering Kollam, Kerala 👋🏻👋🏻 " }}' property='og:description'/>

    <meta name="twitter:image:src" content="https://avatars1.githubusercontent.com/u/11921692?s=400&amp;u=50ab0b8dc72bdce07d9b4a3ad22bda30d9ca2b59&amp;v=4" />

    <meta name="twitter:site" content="@bmnidhin" /><meta name="twitter:card" content="summary" /><meta name="twitter:title" content="{{ post.title | default:"Designs" }} - Nidhin BM" />
    <meta name="twitter:description" content="{{ post.text | default:"I am Nidhin. I am a B-Tech Electronics and Communication student From TKM College of Engineering Kollam, Kerala 👋🏻👋🏻 " }}" />
    <meta property="og:image" content="https://avatars1.githubusercontent.com/u/11921692?s=400&amp;u=50ab0b8dc72bdce07d9b4a3ad22bda30d9ca2b59&amp;v=4" />
    <meta property="og:site_name" content="bmnidhin" /><meta property="og:type" content="profile" />
    <meta property="profile:username" content="bmnidhin" />



    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'fonts/Feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'libs/flickity/dist/flickity.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/flickity-fade/flickity-fade.css' %} ">
    <link rel="stylesheet" href="{% static 'libs/aos/dist/aos.css' %}">
    <link rel="stylesheet" href="{% static 'libs/jarallax/dist/jarallax.css' %}" >
    <link rel="stylesheet" href="{% static 'libs/highlightjs/styles/vs2015.css' %} ">
    <link rel="stylesheet" href="{% static '/libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.css' %} ">



    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
   <title> {% block title %}
    {{ post.title | default:"Projects" }} - Nidhin BM
   {% endblock title %}</title>
   
  


  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXKXK2B"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <!-- MODALS
    ================================================== -->
    <!-- Example -->


    
    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
      <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="/">
          <!-- <img src="{% static 'img/brand.svg' %}" class="navbar-brand-img" alt="..."> -->
          bmnidhin
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fe fe-x"></i>
          </button>

          <!-- Navigation -->

          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                  🎯 Blog
                </a>
                <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
                  <div class="list-group list-group-flush">
                    <a class="list-group-item" href="{% url 'post_list' %}">
    
                      <!-- Icon -->
                      <div class="icon icon-sm text-primary">
                        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z" fill="#335EEA" opacity=".3"></path><path d="M11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" x="7" y="10" width="5" height="2" rx="1"></rect><rect fill="#335EEA" opacity=".3" x="7" y="14" width="9" height="2" rx="1"></rect></g></svg>
                      </div>
    
                      <!-- Content -->
                      <div class="ml-4">
    
                        <!-- Heading -->
                        <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                          My Blog Posts
                        </h6>
    
                        <!-- Text -->
                        <p class="font-size-sm text-gray-700 mb-0">
                          Track
                        </p>
    
                      </div>
    
                    </a>
                   
                  </div>
                </div>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                  ✂️ Projects
                </a>
                <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
                  <div class="list-group list-group-flush">
                    <a class="list-group-item" href="{% url 'project_list' %}">
    
                      <!-- Icon -->
                      <div class="icon icon-sm text-primary">
                        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z" fill="#335EEA" opacity=".3"></path><path d="M11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" x="7" y="10" width="5" height="2" rx="1"></rect><rect fill="#335EEA" opacity=".3" x="7" y="14" width="9" height="2" rx="1"></rect></g></svg>
                      </div>
    
                      <!-- Content -->
                      <div class="ml-4">
    
                        <!-- Heading -->
                        <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                          My Projects
                        </h6>
    
                        <!-- Text -->
                        <p class="font-size-sm text-gray-700 mb-0">
                          View all my Projects Here
                        </p>
    
                      </div>
    
                    </a>
                   
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                  🎨 Design
                </a>
                <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
                  <div class="list-group list-group-flush">
                    <a class="list-group-item" href="{% url 'design_list' %}">
    
                      <!-- Icon -->
                      <div class="icon icon-sm text-primary">
                        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z" fill="#335EEA" opacity=".3"></path><path d="M11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" x="7" y="10" width="5" height="2" rx="1"></rect><rect fill="#335EEA" opacity=".3" x="7" y="14" width="9" height="2" rx="1"></rect></g></svg>
                      </div>
    
                      <!-- Content -->
                      <div class="ml-4">
    
                        <!-- Heading -->
                        <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                          My Designs
                        </h6>
    
                        <!-- Text -->
                        <p class="font-size-sm text-gray-700 mb-0">
                          Graphic Design Projects
                        </p>
    
                      </div>
    
                    </a>
                    
    
                
    
                    
                  </div>
                </div>
              </li>

            
            
              
         
          </ul>

          <!-- Button -->
          <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="{% url 'post_contact' %}" target="_blank">
            Contact
          </a>

        </div>

      </div>
    </nav>

    {% block content %}
    {% endblock %}


    

















    <!-- FOOTER
    ================================================== -->
    <footer class="py-8 py-md-11 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
          
              <!-- Brand -->
              <!-- 
                @bmnidhin
               -->
  
              <!-- Text -->
              <p class="text-gray-700 mb-2">
                A better way to build.
              </p>
  
              <!-- Social -->
              <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
                <li class="list-inline-item list-social-item mr-3">
                  <a href="#!" class="text-decoration-none">
                    <img src="{% static 'img/icons/social/instagram.svg' %} " class="list-social-icon" alt="...">
                  </a>
                </li>
                <li class="list-inline-item list-social-item mr-3">
                  <a href="#!" class="text-decoration-none">
                    <img src="{% static 'img/icons/social/twitter.svg' %}  " class="list-social-icon" alt="...">
                  </a>
                </li>
                <li class="list-inline-item list-social-item mr-3">
                  <a href="#!" class="text-decoration-none">
                    <img src="{% static 'img/icons/social/facebook.svg' %} " class="list-social-icon" alt="...">
                  </a>
                </li>
                <li class="list-inline-item list-social-item">
                  <a href="#!" class="text-decoration-none">
                    <img src="{% static 'img/icons/social/pinterest.svg' %} " class="list-social-icon" alt="...">
                  </a>
                </li>
              </ul>
  
            </div>
            <div class="col-6 col-md-4 col-lg-2">
          
              <!-- Heading
              <h6 class="font-weight-bold text-uppercase text-gray-700">
                Products
              </h6> -->
  
              <!-- List -->
             
  
            </div>
            <div class="col-6 col-md-4 col-lg-2">
          
              <!-- Heading
              <h6 class="font-weight-bold text-uppercase text-gray-700">
                Services
              </h6> -->
  
              <!-- List -->
              
  
            </div>
            <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">
          
              <!-- Heading
              <h6 class="font-weight-bold text-uppercase text-gray-700">
                Connect
              </h6> -->
  
              <!-- List -->
              
  
            </div>
            <div class="col-6 col-md-4 col-lg-2">
          
              <!-- Heading
              <h6 class="font-weight-bold text-uppercase text-gray-700">
                Legal
              </h6> -->
  
              <!-- List -->
              
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </footer>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'libs/flickity-fade/flickity-fade.js' %} "></script>
    <script src="{% static 'libs/flickity/dist/flickity.pkgd.min.js' %} "></script>
    <script src="{% static 'libs/aos/dist/aos.js' %} "></script>
    <script src="{% static 'libs/smooth-scroll/dist/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'libs/jarallax/dist/jarallax.min.js' %} "></script>
    <script src="{% static 'libs/jarallax/dist/jarallax-video.min.js' %} "></script>
    <script src="{% static 'libs/jarallax/dist/jarallax-element.min.js' %} "></script>
    <script src="{% static 'libs/typed.js/lib/typed.min.js' %} "></script>
    <script src="{% static 'libs/countup.js/dist/countUp.min.js' %} "></script>
    <script src="{% static 'libs/highlightjs/highlight.pack.min.js' %} "></script>
    <script src="{% static 'libs/%40fancyapps/fancybox/dist/jquery.fancybox.min.js' %} "></script>
    <script src="{% static 'libs/isotope-layout/dist/isotope.pkgd.min.js' %} "></script>
    <script src="{% static 'libs/imagesloaded/imagesloaded.pkgd.min.js' %} "></script>



    <!-- Theme JS -->
    <script src="{% static '/js/theme.min.js' %} "></script>

      
  </body>


</html>